@model UrlViewModel
@{
    ViewData["Title"] = "UrlShortener";
}

<form asp-controller="UrlShortener" asp-action="Generate" method="post" asp-antiforgery="true">
    <label>Input a Url</label>
    <input type="url" asp-for="LongUrl" />

    <button type="submit">Convert</button>
</form>

<br />
<br />
<label>Tiny Url</label>
<input type="url" asp-for="ShortUrl" />

<button onclick="RedirectUrl()">Redirect</button>

@section Scripts
{
    <script>
        function RedirectUrl() {
          const url = document.getElementById("ShortUrl").value;

          if (!url) {
            alert("URL is empty");
            return;
          }

          // Open in a new tab
          window.open(url, "_blank");
        }
    </script>

}

